@import '../../assets/variables.scss';

.sider {
  &[class*='ant-layout-sider-has-trigger'] {
    margin: 0;
    padding: 0;
  }

  .logoLink {
    display: block;
    margin: 20px 0;
    text-align: center;

    .logo {
      color: $white;
      font-size: 65px;
    }
  }

  &[class*='ant-layout-sider'],
  div[class*='ant-layout-sider-trigger'],
  .menu[class*='ant-menu-dark'] {
    background-color: $darkBlue;
  }

  .menu {
    li.menuItem {
      margin: 0;
      padding-right: 0;
      color: $white;
      font-size: 16px;

      a {
        color: inherit;
      }
    }
  }
}
