.sider {
  &[class*='ant-layout-sider'],
  div[class*='ant-layout-sider-trigger'],
  .menu[class*='ant-menu-dark'] {
    background-color: #003a8c;
  }

  .menu {
    li.menuItem {
      font-size: 16px;
      color: #ffffff;
      margin: 0;
      padding-right: 0;

      a {
        color: inherit;
      }
    }
  }
}
