@import '../../../assets/variables.scss';

.content {
  display: flex;
  justify-content: space-between;

  .section {
    width: 24%;
    padding: 0 5px 10px;
    background-color: rgba($black, 0.1);

    .title {
      margin: 0 0 5px;
      font-size: 20px;
    }

    .issues {
      .issue {
        display: flex;
        align-items: center;
        border-left-width: 5px;
        border-left-style: solid;
        margin-top: 15px;
        padding: 3px;
        background-color: $white;
        font-size: 14px;

        & > div {
          width: 100%;
        }

        .icon {
          margin-right: 15px;
          font-size: 25px;
        }

        .title {
          margin: 0;
          font-size: 18px;
        }

        .description {
          display: -webkit-box;
          overflow: hidden;
          font-size: 15px;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          white-space: normal;
        }

        .icons {
          display: flex;
          margin-top: 10px;
          font-size: 15px;
          line-height: 15px;

          & > div:first-child {
            margin-right: 10px;
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
