.content {
  display: flex;
  justify-content: space-between;

  .section {
    background: #e8e8e8;
    flex-basis: 24%;
    padding: 5px;

    .title {
      font-size: 20px;
      margin-bottom: 20px;

      .count {
        margin-left: 5px;
        font-size: 15px;
        color: #686868;
      }
    }

    .issues {
      .issue {
        display: flex;
        align-items: center;
        margin-top: 15px;
        background: #ffffff;
        font-size: 14px;
        padding: 3px;
        border-left-width: 5px;
        border-left-style: solid;

        .icon {
          margin-right: 15px;
          font-size: 25px;
        }

        .projectName {
          font-size: 18px;
          color: #307ae9;
        }

        .issueName {
          font-size: 15px;
          color: #000000;

          a {
            color: inherit;
          }
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
