@import '../../assets/variables.scss';

.profile {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icon {
      color: $darkBlue;
      font-size: 100px;
    }

    .info {
      .name {
        margin: 0 0 5px;
        font-size: 25px;
        font-weight: 500;

        .username {
          font-size: 15px;
        }
      }
    }
  }

  .collapsePanel {
    div[class*='ant-collapse-header'] {
      color: $black;
      font-size: 15px;
      cursor: default;
    }
  }
}
