.wrapper {
  height: 100%;

  .spin[class*='ant-spin'] {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;

    .loader {
      position: static;
      margin: 0;
    }
  }

  div[class*='ant-spin-container'] {
    height: 100%;
  }
}

.serverError {
  height: 100%;
}
