.wrapper {
  min-height: 100%;

  &[class*='ant-spin-nested-loading'] {
    .spin {
      min-height: 100%;
    }

    .loader[class*='ant-spin-dot'] {
      margin: 0;
      transform: translate(-50%, -50%);
    }
  }
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .error {
    &[class*='ant-result'] {
      margin: 0;
      padding: 0;
    }

    div[class*='ant-result-image'] {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }
}
