@import '../../assets/variables.scss';

.home {
  .sectionTitle {
    padding: 10px;
    background-color: $darkBlue;
    color: $white;
    font-size: 20px;
  }

  .introduction {
    .text {
      font-size: 18px;

      a {
        color: $darkBlue;
      }
    }
  }

  .assignedToMe {
    margin-top: 30px;

    .listItem {
      &[class*='ant-list-item'] {
        border-color: $darkBlue;
        padding: 10px 0;
        font-size: 16px;
      }
    }
  }

  .activityStream {
    .list {
      .listItem {
        &[class*='ant-list-item'] {
          border-color: $darkBlue;
          padding: 10px 0;
        }

        .userIcon {
          color: $darkBlue;
          font-size: 60px;
        }

        h4[class*='ant-list-item-meta-title'] {
          margin-bottom: 5px;
        }

        div[class*='ant-list-item-meta-description'] {
          color: $black;
          line-height: 14px;

          span {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.login {
  margin-top: 20px;
  text-align: center;

  .button {
    margin-top: 10px;
  }
}
