@import '../../assets/variables.scss';

.home {
  .sectionTitle {
    padding: 10px;
    background-color: $darkBlue;
    color: $white;
    font-size: 20px;
  }

  .introduction {
    border: 1px solid $darkBlue;

    .result {
      margin: 20px 0 0;
      padding: 0;

      div[class*='ant-result-icon'] {
        margin: 0;
      }

      span[class*='anticon'] {
        color: $darkBlue;
      }
    }

    .text {
      margin: 0 10px 10px;
      font-size: 18px;
    }
  }

  .assignedToMe {
    margin-top: 30px;

    .listItem {
      &[class*='ant-list-item'] {
        border-color: $darkBlue;
        padding: 10px;
        font-size: 16px;
      }
    }
  }

  .activityStream {
    .list {
      .listItem {
        &[class*='ant-list-item'] {
          border-color: $darkBlue;
          padding: 10px;
        }

        .userIcon {
          color: $darkBlue;
          font-size: 60px;
        }

        div[class*='ant-list-item-meta-description'] {
          color: $black;
        }
      }
    }
  }
}

.login {
  margin-top: 20px;
  text-align: center;

  .button {
    margin-top: 10px;
  }
}
