@import '../../assets/variables.scss';

.projects {
  .list {
    margin-top: 20px;

    .card {
      border-color: rgba($black, 0.2);

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      div[class*='ant-card-head'] {
        border-color: rgba($black, 0.2);
      }
    }
  }
}
