@import '../../assets/variables.scss';

.projects {
  .list {
    margin-top: 20px;

    .card {
      border-color: rgba($black, 0.2);

      .info {
        display: block;
        display: -webkit-box;
        overflow: hidden;
        max-width: 100%;
        margin: 0 0 10px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: normal;
      }

      div[class*='ant-card-head'] {
        border-color: rgba($black, 0.2);
      }

      div[class*='ant-card-head-title'] {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span[class*='ant-tag'] {
          margin: 0;
        }
      }
    }
  }
}
