@import '../../../assets/variables.scss';

.result {
  &[class*='ant-result'] {
    margin: 25px 0 0;
    padding: 0;
  }

  div[class*='ant-result-icon'],
  div[class*='ant-result-extra'] {
    margin: 0;
  }
}

.collapse {
  &[class*='ant-collapse-borderless'] {
    border: 0;
    margin-top: 25px;
    background-color: transparent;
  }

  .panel {
    border: 1px solid rgba($black, 0.2);
    margin-bottom: 20px;

    & > div[class*='ant-collapse-header'] > span[class*='ant-collapse-arrow'] {
      top: 50%;
      margin: 0;
      padding: 0;
      transform: translateY(-50%);
    }

    .header {
      display: inline-block;

      .name {
        margin-right: 5px;
        font-size: 18px;
        font-weight: 500;
      }

      .count {
        font-size: 15px;
      }
    }

    .extra {
      color: red;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
