.modal {
  div[class*='ant-modal-content'] {
    div[class*='ant-modal-footer'] {
      display: none;
    }
  }

  .buttons {
    margin: 20px 0 0;

    div[class*='ant-form-item-control'] {
      flex-direction: row;
      justify-content: flex-end;
    }

    .cancel {
      margin-right: 15px;
    }
  }
}

form.form {
  .originalEstimate .selects {
    display: flex;
    justify-content: space-between;

    div[class*='ant-form-item'] {
      width: 95%;
      margin: 0;
    }

    div[class*='ant-form-item-label'] label {
      font-size: 12px;
    }
  }

  div[class*='ant-form-item-label'] {
    label[class*='ant-form-item-required'] {
      &::before {
        content: '';
        margin: 0;
      }
    }
  }
}
