@import '../../assets/variables.scss';

.layoutContent {
  .projectName {
    margin-bottom: 10px;
    color: $black;

    a {
      color: inherit;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .buttons {
    button {
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }

  .tabs {
    margin-top: 20px;
  }
}
