@import '../../assets/variables.scss';

.layoutContent {
  width: 100%;
  margin: 30px;
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba($black, 0.2);
}
