.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .notFound {
    &[class*='ant-result'] {
      margin: 0;
      padding: 0;
    }

    div[class*='ant-result-image'] {
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
  }
}
